table { height: 0.7vw; width: 100%; overflow: auto; }
tr { height: 50px;}
.block
{
	width: 5.5%;
	border: 1px solid black;
	border-radius: 15px;
	text-align: center;
}
body
{
	background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSZ6JHzhqK1Jo8ZFkpgyZLDgk3g3Lg2H9U6yWXCHdQXN06Menut0g");
}
p
{
	font-size: 1.2vh;
}
.noblegasses { background-color: rgb(88, 88, 247)}
.othernonmetals { background-color: rgb(151, 224, 41)}
.metalloids { background-color: rgb(13, 95, 13)}
.lanthanoids { background-color: rgb(245, 146, 33)}
.alkanii { background-color: goldenrod}
.alkaline { background-color:rgb(206, 206, 3)}
.actinoids{ background-color: plum}
.transitions { background-color: gray}
.posttrans { background-color: dodgerblue}
.index { background-color: turquoise}
.unclass {background-color: black}
#element { color: white; font-style: bold;}
#atomic { text-align: left; color: white;}
#weight { text-align: right; color: white;}
